<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
<footer class="customFooter">

  <div class="footerContainer">

    <div class="footerWrapper">

      
      <div class="footerCol">
        <div class="footerLogo">
          <i class="fa-solid fa-dragon"></i>
          <h2>Inkspire Studio</h2>
        </div>

        <p class="footerText">
          Inkspire Studio is your trusted destination for premium tattoos and piercing services. Experience creativity and precision with expert artists.
        </p>
      </div>

      
      <div class="footerCol">
        <h3 class="footerHeading">We are experts in</h3>
        <ul class="footerList">
          <li>Lord Shiva Tattoos</li>
          <li>Minimal Tattoos</li>
          <li>Couple Tattoos</li>
          <li>Realistic Tattoos</li>
          <li>Ear Piercing</li>
          <li>Nose Piercing</li>
        </ul>
      </div>

      
      <div class="footerCol">
        <h3 class="footerHeading">Quick Links</h3>
        <ul class="footerList">
          <li><a href="index.html">Home</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>

      
      <div class="footerCol">
        <h3 class="footerHeading">Contact Us</h3>
        <div class="footerList">
          <p><i class="fa-solid fa-phone"></i> +91 98765 43210</p>
          <p><i class="fa-solid fa-envelope"></i> inkspire@gmail.com</p>
          <p>
            <i class="fa-solid fa-location-dot"></i>
            Bangalore, Karnataka 560001
          </p>
          <div class="footerSocials">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
</div>
        </div>
      </div>

    </div>

  </div>

  <div class="footerBottom">
    © 2026 Inkspire Studio. All Rights Reserved.
  </div>

</footer>
    
</body>
</html>