<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
 <header class="header">

  
  <div class="logo">
    <i class="fa-solid fa-dragon logo-icon"></i>
    <h2>Inkspire Studio</h2>
  </div>

  
  <ul class="nav-links" id="navLinks">
    <li class="dropdown">
      <a href="index.html">Home</a>
      <ul class="dropdown-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="home2.html">Home2</a></li>
      </ul>
    </li>
    <li><a href="aboutus.html">About</a></li>

    <li><a href="services.html">Services</a></li>

    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
<li><a href="admin.html">Dashboard</a></li>
    
    <li class="mobile-auth"><a href="login.html" class="btn primary">Login</a></li>
  </ul>

  
  <div class="header-actions">

    <button id="rtl-toggle" class="icon-btn">
      <i class="fa-solid fa-right-left"></i>
    </button>

    <button id="theme-toggle" class="icon-btn">🌙</button>

    <a href="login.html" class="btn primary">Login</a>

    <div class="menu-toggle" id="menuToggle" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

  </div>

</header>
</body>
</html>